################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/mtt-timer/bin/Debug/net8.0
/mtt-timer/obj
/mtt-timer/Properties
/mtt-timer/bin/Release/net8.0
/mtt-timer/appsettings.json
/mct-timer/bin
/mct-timer/obj
/mct-timer/Properties
/mct-timer/appsettings.json
/mct-timer/appsettings.Development.json
/mct-timer/TODO.txt
