################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/mtt-timer/bin/Debug/net8.0
/mtt-timer/obj
/mtt-timer/Properties
/mtt-timer/bin/Release/net8.0
