{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "environmentName": {
      "value": "dev"
    },
    "location": {
      "value": "eastus2"
    },
    "openAiEndpoint": {
      "value": ""
    },
    "openAiModel": {
      "value": "dall-e-3"
    },
    "maxAiInTheDay": {
      "value": "5"
    },
    "cryptographyKeyName": {
      "value": "password-encryption"
    }
  }
}
