@{
    ViewData["Title"] = "Set your timer";
}

<div id="settings-mainbg">
  <div class="menu">
       <img class="option" src="./icons/home-w.png" alt="back to home" onclick="javascript:location.href = '/'"/>
        <img class="option" src="./icons/gear-w.png" alt="settings" onclick="javascript:location.href='/settings'" />
   </div>
    <div class="location">
        <img class="option" src="./icons/location-w.png" alt="image info" />
    </div>
    <div id="location-info">
        Turkish, Caldam City
    </div>
    <div id="settings-secondbg">
        <div id="timer-set">
            <div id="timer-go">
                <div class="title">set timer</div>
                <div class="timer-go-set">
                    <span>
                        <input id="custom-imput" type="text" value="" />
                    </span>
                    <span><select id="ampm">
                        <option value="AM">AM</option><option value="PM">PM</option></select></span>

                    <span class="button" id="go">
                        <img class="img" src="/icons/play.png" />
                    </span>
                </div>
                <div class="adds-group"><span class="adds" id="tophour">top hour</span><span class="adds" id="plus5">+5m</span></div>
            </div>
        </div>



        <div id="timer-set">

            <a asp-controller="Home" asp-action="Timer"
               asp-route-m="10"
               asp-route-t="c">
                <div class="timer-choise">
                    <div class="numbers">
                        00:10
                    </div>
                    <div class="title">Coffee</div>
                </div>
            </a>


            <a asp-controller="Home" asp-action="Timer"
               asp-route-m="15"
               asp-route-t="c">
                <div class="timer-choise">
                    <div class="numbers">
                        00:15
                    </div>
                    <div class="title">Coffee</div>
                </div>
            </a>
        </div>

        <div id="timer-set">

            <a asp-controller="Home" asp-action="Timer"
               asp-route-m="45"
               asp-route-t="l">
                <div class="timer-choise">
                    <div class="numbers">
                        00:45
                    </div>
                    <div class="title">Lunch</div>
                </div>
            </a>


            <a asp-controller="Home" asp-action="Timer"
               asp-route-m="60"
               asp-route-t="l">
                <div class="timer-choise">
                    <div class="numbers">
                        01:00
                    </div>
                    <div class="title">Lunch</div>
                </div>
            </a>
        </div>

        <div id="timer-set">
            <a asp-controller="Home" asp-action="Timer"
               asp-route-m="30"
               asp-route-t="l">
                <div class="timer-choise">
                    <div class="numbers">
                        00:30
                    </div>
                    <div class="title">Labs</div>
                </div>
            </a>

            <a asp-controller="Home" asp-action="Timer"
               asp-route-m="45"
               asp-route-t="l">
                <div class="timer-choise">
                    <div class="numbers">
                        00:45
                    </div>
                    <div class="title">Labs</div>
                </div>
            </a>

            <a asp-controller="Home" asp-action="Timer"
               asp-route-m="60"
               asp-route-t="l">
                <div class="timer-choise">
                    <div class="numbers">
                        01:00
                    </div>
                    <div class="title">Labs</div>
                </div>
            </a>

        </div>
    </div>
</div>


@section Scripts
{
    <script type="text/javascript" src="~/js/preset.js"></script>

    <script>

        var mtimer = new Preset(
            document.querySelector("#timer-go")
        )

        // $(document).load(function () {
        //     alert('AA');
        //     $('#custom-imput').text = "0000";
        //         });
    </script>
}