@{
    ViewData["Title"] = "Home Page";
}
<div id="group">
    <table id="group-tbl">
        <tr>
            <td valign="top" align="left"><div id="timer"></div></td>
            <td valign="top" align="right"><div id="resume">10:10 AM EST</div></td></tr>
        <tr>
            <td colspan="2" valign="top">
                <div id="editormain">
                    <div id="note">note +</div>
                    <div id="editor">
                    </div>
                 </div>
            </td>
        </tr>

    </table>
        
       
</div>


@section Scripts
{
    <script type="text/javascript" src="~/js/timer.js"></script>
    <script type="text/javascript" src="~/js/editor.js"></script>
    <script></script>
}