@model mct_timer.Models.Personalization

@{
    ViewData["Title"] = "Set your timer";
}

<div id="gbmainbg" style="overflow: auto">
    <div class="menu">
        <img class="option" src="~/icons/home-w.png" alt="back to home" onclick="javascript:location.href = '/'" />
        <img class="option" src="~/icons/gear-w.png" alt="settings" onclick="javascript:location.href='/sets'" />
        <img class="option" src="~/icons/info-w.png" alt="info" onclick="javascript:location.href='/info'" />
    </div>
    <div class="location">
        <a href="https://maps.app.goo.gl/hbQkUNNToMNu8HFx9" target="_blank">
            <img class="option" src="~/icons/location-w.png" alt="image info" />
        </a>
    </div>

    <div id="location-info">
        Turkey, Kekova
    </div>

    <div id="preset-secondbg">

        <div id="timer-go">

    
        <div class="timer-defaults">
                <div class="title">time zone</div>
                <div>
                    <select id="timezone">
                    </select>
                </div>
        </div>
     


        <div id="timer-set-go">
            <div class="custom-timer">
                <div class="title">set timer</div>
                <div class="timer-go-set">
                    <span>
                        <input id="datevalue" type="hidden" value="" />
                        <input id="custom-input" type="text" value="" />
                    </span>
                    <span>
                        <select id="ampm">
                            <option value="AM">AM</option>
                            <option value="PM">PM</option>
                        </select>
                    </span>

                    <span class="button" id="go">
                        <img class="img" src="/icons/play.png" />
                    </span>
                </div>
                <div class="adds-group">
                    <span class="adds" id="tophour">top hour</span><span class="adds" id="plus1">+1m</span><span class="adds" id="minus1">-1m</span><span class="adds" id="plus5">+5m</span>
                </div>
            </div>
        </div>
        </div>

        <table cellpadding="7">
            @foreach (var grp in Model.Groups)
            {
                <tr>
                    @foreach (var item in grp.Items)
                    {

                        <td>
                            <div class="timer-choice" onclick="timer.startDefaultTimer(@item.Length, '@item.Type.ToString()')">
                            <div class="numbers">
                                @item.Length min
                            </div>
                            <div class="title">
                                <img src="/icons/@item.Type.ToString()-b.png" />
                            </div>
                        </div>
                        </td>                        
                    }
                </tr>
            }
        </table>        
</div>


@section Scripts
{
        <script type="text/javascript" src="~/js/preset.js" asp-append-version="true"></script>

    <script>
        const timer = new Preset(
            document.querySelector("#timer-go")
        )

        document.querySelector("#gbmainbg").style.backgroundImage = "url(/bg-lib/index.jpg)";

    </script>
}