@model mct_timer.Models.Personalization

@{
    ViewData["Title"] = "Set your timer";
}

<div id="gbmainbg" style="overflow: auto">
    <div id="menu" class="menu">
        <img class="option" src="~/icons/home-w.png" title="back to home" onclick="javascript:location.href = '/'" />
        <img class="option" src="~/icons/gear-w.png" title="settings" onclick="javascript:location.href='/sets'" />
        <img class="option" src="~/icons/info-w.png" title="info" onclick="javascript:location.href='/info'" />
    </div>
    <div id="loc" class="location">
        <a href="https://maps.app.goo.gl/hbQkUNNToMNu8HFx9" target="_blank">
            <img class="option" src="~/icons/location-w.png" title="image info" />
        </a>
    </div>

    <div id="location-info">
        Turkey, Kekova
    </div>

    <div id="preset-secondbg">

        <div id="timer-go">

    
        <div class="timer-defaults">
                <table  cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="title" style="flex-wrap:nowrap">time zone</td>
                        <td align="right"><img id="def-tz" src="~/icons/def-tz.png" height="20px" style="cursor:pointer" title="current location" /></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <select id="timezone">
                            </select>
                        </td>
                    </tr>
                </table>
        </div>
     


        <div id="timer-set-go">
            <div class="custom-timer" >
                    <table cellpadding="5" cellspacing="0" width="100%"><tr>
                        <td class="title" style="padding:0px">start timer:</td>
                            <td style="width:100%; display: flex; justify-content: flex-end;">
                                <img class="type-icons" src="~/icons/coffee-b.png"  tp="coffee"/>
                                <img class="type-icons" src="~/icons/lunch-b.png" tp="lunch"/>                                
                                <img class="type-icons" src="~/icons/lab-b.png" tp="lab" />
                                <img class="type-icons" id="def-type-icons" src="~/icons/wait-b.png" tp="wait" />
                            </td>
                        </tr>
                    </table>
                <div class="timer-go-set">
                    <span>
                            <input id="brtype" type="hidden" value="wait" />
                        <input id="datevalue" type="hidden" value="" />
                        <input id="custom-input" type="text" value="" />
                    </span>
                    <span>
                        <select id="ampm">
                            <option value="AM">AM</option>
                            <option value="PM">PM</option>
                        </select>
                    </span>

                        <span class="button" id="go" style="width:200px"><b>START</b></span>
                </div>
                <div class="adds-group">
                    <span class="adds-buttons" id="tophour">top hour</span>
                        <span class="adds-buttons" id="plus1">+1 min</span>
                    <span class="adds-buttons" id="minus1">-1 min</span>
                        <span class="adds-buttons" id="plus5">+5 min</span>
                        <span class="adds-buttons" id="plus10">+10 min</span>
                </div>
            </div>
        </div>
        </div>

        <table cellpadding="7">
            @foreach (var grp in Model.Groups)
            {
                <tr>
                    @foreach (var item in grp.Items)
                    {

                        <td>
                            <div class="timer-choice" onclick="timer.startDefaultTimer(@item.Length, '@item.Type.ToString()')">
                            <div class="numbers">
                                @item.Length min
                            </div>
                            <div class="title">
                                <img src="/icons/@item.Type.ToString()-b.png" />
                            </div>
                        </div>
                        </td>                        
                    }
                </tr>
            }
        </table>        
</div>


@section Scripts
{
        <script type="text/javascript" src="~/js/preset.js" asp-append-version="true"></script>

    <script>
        const timer = new Preset(
            document.querySelector("#timer-go")
        )

       function menuUpdate()
       {
                outOfScrollPosition(document.querySelector("#gbmainbg"), document.querySelector("#menu"));
                outOfScrollPosition(document.querySelector("#gbmainbg"), document.querySelector("#loc"));
       }

       $(document).ready(function () {
                document.querySelector("#gbmainbg").style.backgroundImage = "url(/bg-lib/index.jpg)";
           menuUpdate();
        })

        $(window).resize(() => menuUpdate());




    </script>
}