@{
    ViewData["Title"] = "About the project";
}

<div id="gbmainbg">
    <div id="menu" class="menu">
        <img class="option" src="~/icons/home-w.png" alt="back to home" onclick="javascript:location.href = '/'" />
        <img class="option" src="~/icons/gear-w.png" alt="settings" onclick="javascript:location.href='/sets'" />
        <img class="option" src="~/icons/info-w.png" alt="info" onclick="javascript:location.href='/info'" />
    </div>

    <div id="loc" class="location">
        <a href="https://maps.app.goo.gl/hbQkUNNToMNu8HFx9" target="_blank"><img class="option" src="~/icons/location-w.png" alt="image info" /></a>
    </div>

    <div id="location-info">
        Turkey, Kekova
    </div>

    <div id="info-secondbg">
        <div id="info-set">
            <div class="info-text">
                    <div class="title">'MCT Timer' Project</div>

                <p>The "MCT Timer" project is an innovative tool designed to assist the Microsoft Certified Trainer (MCT) community. It simplifies the process of setting up and managing timers for classroom sessions directly from a web page. This project aims to enhance the teaching and learning experience by providing a seamless way to notify learners when classes resume.</p>
                <h1>Project Hosting</h1>
                <p>The MCT Timer is hosted on a robust and reliable platform, the Microsoft Azure Web App. This ensures that the service is scalable, secure, and always available for users. The project is managed and maintained by the Microsoft Trainers Team, who bring their expertise and dedication to ensure its smooth operation and continuous improvement.</p>
                <p>One of the core principles of the MCT Timer project is accessibility. The website is publicly accessible, meaning anyone can use it without any restrictions. Moreover, the service is provided free of charge, making it an invaluable resource for the MCT community and beyond.</p>
                <h1>Features and Benefits</h1>
                <p>
                <ul>
                    <li>Easy Setup: The web interface is user-friendly, allowing trainers to quickly set up timers with minimal effort.</li>
                    <li>Real-Time Notifications: Learners are promptly informed when classes will resume, ensuring that everyone stays on schedule.</li>
                    <li>Public Access: The site is accessible to all, fostering a collaborative and inclusive learning environment.</li>
                    <li>Cost-Free: The service is provided at no cost, removing any financial barriers to its use.</li>
                    <li>Background customization: The service will allowed to upload personal background for different timers and generate custom background with Open AI model DALLE</li>
                </ul>
                </p>
                <h1>Feedback and Contact</h1>
                <p>The development team values feedback and ideas from users to continually enhance the MCT Timer. To provide feedback, submit ideas, or contact the developers, please follow visit <a href="https://github.com/true-while/mct-timer/issues">GitHub repo</a></p>
                <h1>Conclusion</h1>
                <p>The MCT Timer project exemplifies the commitment of the Microsoft Certified Trainer community to improving educational experiences through innovative solutions. By providing a simple, accessible, and free tool to manage class timings, the project supports both trainers and learners in achieving their educational goals effectively.</p>
            </div>
        </div>

</div>


@section Scripts
{
        <script>
                    function menuUpdate() {
                        outOfScrollPosition(document.querySelector("#gbmainbg"), document.querySelector("#menu"));
                        outOfScrollPosition(document.querySelector("#gbmainbg"), document.querySelector("#loc"));
                    }

                    $(document).ready(function () {
                                document.querySelector("#gbmainbg").style.backgroundImage = "url(/bg-lib/info.jpg)";
                               menuUpdate();
                    })

                    $(window).resize(() => menuUpdate());

        </script>
}