@{
    ViewData["Title"] = "Settings";
}

<div id="gbmainbg">
    <div class="menu">
        <img class="option" src="~/icons/home-w.png" alt="back to home" onclick="javascript:location.href = '/'" />
    </div>
    <div class="location">
        <a href="https://maps.app.goo.gl/JLcJZruMAiN5MqRA9" target="_blank"><img class="option" src="~/icons/location-w.png" alt="image info" /></a>
    </div>
    <div id="location-info">
        Turkey, Gücek
    </div>
    
    <form>
    <div id="settings-secondbg">
        <div id="settings-set">
            <div class="settings-text">
                <h1>Settings</h1>
                <p>coming soon....</p>
            </div>
        </div>
    </div>
    </form>


</div>


@section Scripts
{
    <script type="text/javascript" src="~/js/preset.js"></script>

    <script>
        var bgselector = new BGSelector(
            document.querySelector("#gbmainbg")
            , "inprogress"
        )

    </script>
}