@{
    ViewData["Title"] = "Settings";
}

<div id="gbmainbg">
    <div class="menu">
        <img class="option" src="./icons/home-w.png" alt="back to home" onclick="javascript:location.href = '/'" />
    </div>
    <div class="location">
        <img class="option" src="./icons/location-w.png" alt="image info" />
    </div>
    <div id="location-info">
        Turkish, Caldam City
    </div>
    
    <form>
    <div id="settings-secondbg">
        <div id="settings-set">
            <div class="settings-text">
                <p>background generation is coming soon....</p>
            </div>
        </div>
    </div>
    </form>


</div>


@section Scripts
{
    <script type="text/javascript" src="~/js/preset.js"></script>

    <script>
        var bgselector = new BGSelector(
            document.querySelector("#gbmainbg")
            , "inprogress"
        )

    </script>
}