@model mct_timer.Models.User

@{
    ViewData["Title"] = "Settings";
}

<div id="gbmainbg">
    <div class="menu">
        <img class="option" src="~/icons/home-w.png" alt="back to home" onclick="javascript:location.href = '/'" />
        <img class="option" src="~/icons/info-w.png" alt="info" onclick="javascript:location.href='/info'" />
    </div>
    <div class="location">
        <img class="option" src="~/icons/location-w.png" alt="image info" />
    </div>
    <div id="location-info">
        Turkey, Caldam 
    </div>


    <form asp-action="UploadBG">
        <div class="form">
            <h1>@ViewData["Title"]</h1>
            <span class="info">
               You can customize your background by loading your favorite images:
            </span>

            <div class="error">@TempData["Error"]</div>
            <div class="bglist-bg">
                @await Html.PartialAsync("PartialBGs", Model.Backgrounds)
            </div>
        </div>
    </form>

</div>


@section Scripts
{
    <script type="text/javascript" src="~/js/preset.js" asp-append-version="true"></script>

    <script>
        var bgselector = new BGSelector(
            document.querySelector("#gbmainbg")
            , "settings"
        )





    </script>
}