@{
    ViewData["Title"] = "Settings";
}

<div id="gbmainbg">
    <div class="menu">
        <img class="option" src="./icons/home-w.png" alt="back to home" onclick="javascript:location.href = '/'" />
        <img class="option" src="./icons/gear-w.png" alt="settings" onclick="javascript:location.href='/settings'" />
    </div>
    <div class="location">
        <img class="option" src="./icons/location-w.png" alt="image info" />
    </div>
    <div id="location-info">
        Turkish, Caldam City
    </div>

</div>


@section Scripts
{
    <script type="text/javascript" src="~/js/preset.js"></script>

    <script>
        var bgselector = new BGSelector(
            document.querySelector("#gbmainbg")
            , "s"
        )

    </script>
}