@model mct_timer.Models.User

@{
    ViewData["Title"] = "Settings";
}

<div id="gbmainbg">
    <div class="menu">
        <img class="option" src="~/icons/home-w.png" alt="back to home" onclick="javascript:location.href = '/'" />
        <img class="option" src="~/icons/info-w.png" alt="info" onclick="javascript:location.href='/info'" />
    </div>
    <div class="location">
        <img class="option" src="~/icons/location-w.png" alt="image info" />
    </div>
    <div id="location-info">
        Turkey, Caldam 
    </div>


        <div class="form">
            <h1>@ViewData["Title"]</h1>
            <span class="info">
               You can customize your background by loading your favorite images:
            </span>

            <div class="error">@TempData["Error"]</div>
            @await Html.PartialAsync("PartialUploadBG", new Background())
            @await Html.PartialAsync("PartialBGList", Model.Backgrounds)
            </div>
        </div>


</div>


@section Scripts
{
    <script type="text/javascript" src="~/js/settings.js" asp-append-version="true"></script>

    <script>
        var bgselector = new BGSelector(
            document.querySelector("#gbmainbg")
            , "settings"
        )

        //refresh icons
        updateIcons(0);


    </script>
}