@{
    ViewData["Title"] = "MCT Timer";
}

<div id="gbmainbg">
    <div id="group">
        <table id="group-tbl">
            <tr>
                <td >
                    <div class="infopad">
                        <div class="title">remain time</div>
                        <div id="timer">
                            <div class="numbers">
                                <span id="timer__part1">00</span><span id="timer__devider">:</span><span id="timer__part2">00</span>
                            </div>
                            <div>
                                <button type="button" class="timer__btn timer__btn--home">
                                    <img class="material-icons" src="/icons/home-w.png"/>
                                </button>
                                <button type="button" class="timer__btn timer__btn--reset">
                                    <img class="material-icons" src="/icons/reset-w.png"/>
                                </button>
                            </div>
                        </div>
                    </div>
                </td>
                <td align="left" class="infopad-td">
                    <div class="infopad">
                        <div class="title">resume at</div>
                        <div id="resume" class="numbers">
                            <div>
                                <span id="when__part1"></span><span id="when__devider"></span><span id="when__part2"></span><span id="am"></span>
                            </div>
                            <div id="zone"></div>
                            <div id="zone-full"></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2" valign="top">
                    <div id="editormain">
                        <!--div id="note">note +</!div-->
                        <div id="editor">
                        </div>
                    </div>
                </td>
            </tr>

        </table>


    </div>
</div>


@section Scripts
{
    <script type="text/javascript" src="~/js/timer.js"></script>
    <script type="text/javascript" src="~/js/editor.js"></script>
    <script>
        const breakLength = Number('@TempData["length"]');
        const timezoneNameUrlEncoded = '@TempData["timezone"]';
        const timezoneName = decodeURIComponent(timezoneNameUrlEncoded.replace('.', '/'));
        const breakType = '@TempData["type"]';

        const mtimer = new Timer(
            document.querySelector("#timer"),
            document.querySelector("#resume")
        );

        mtimer.originalSeconds = mtimer.remainingSeconds = breakLength * 60;
        mtimer.start();

        var bgselector = new BGSelector(
            document.querySelector("#gbmainbg"),
            breakType
        )
    </script>
}
