@model Timer


@{
    ViewData["Title"] = "MCT Timer";
}

<div id="gbmainbg" style="overflow:auto">
    <div id="group">
        <table id="group-tbl">
            <tr>
                <td >
                    <div class="infopad">
                        <div class="title">remain time</div>
                        <div id="timer">
                            <div class="numbers">
                                <span id="timer__part1">00</span><span id="timer__devider">:</span><span id="timer__part2">00</span>
                            </div>
                            <div>
                                <button type="button" class="timer__btn timer__btn--home">
                                    <img class="material-icons" src="/icons/home-w.png"/>
                                </button>
                                <button type="button" class="timer__btn timer__btn--reset">
                                    <img class="material-icons" src="/icons/reset-w.png"/>
                                </button>
                            </div>
                        </div>
                    </div>
                </td>
                <td align="left" class="infopad-td">
                    <div class="infopad">
                        <div class="title">resume at</div>
                        <div id="resume" class="numbers">
                            <div>
                                <span id="when__part1"></span><span id="when__devider"></span><span id="when__part2"></span><span id="am"></span>
                            </div>
                            <div id="zone"></div>
                            <div id="zone-full"></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2" valign="top">
                    <div id="editormain">
                        <!--div id="note">note +</!div-->
                        <div id="editor">
                        </div>
                    </div>
                </td>
            </tr>

        </table>


    </div>
</div>


@section Scripts
{
    <script type="text/javascript" src="~/js/timer.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/editor.js" asp-append-version="true"></script>
    <script>
        
   

        const breakLength = Number('@Model.Length');
        const timezoneNameUrlEncoded = '@Model.Timezone';
        var timezone = timezoneNameUrlEncoded.replaceAll('@@', '/');
        var timezoneName = decodeURIComponent(timezone);
        var timezoneAbr = moment.tz(timezoneName).zoneAbbr();
        if (timezoneAbr.includes('-') || timezoneAbr.includes('+')) timezoneAbr = "GMT" + timezoneAbr;


        const mtimer = new Timer(
            document.querySelector("#timer"),
            document.querySelector("#resume")
        );

        mtimer.ampm = '0Model.Ampm';
        mtimer.timezoneName = timezoneName;
        mtimer.timezoneAbr = timezoneAbr;
        mtimer.originalSeconds = mtimer.remainingSeconds = breakLength * 60;
        mtimer.originalEnd = moment.tz(timezoneName).add(breakLength, 'minutes');
        mtimer.start();

        document.querySelector("#gbmainbg").style.backgroundImage = "url('@Model.BGUrl')";

   
    </script>
}
