@model IEnumerable<mct_timer.Models.Background>

    <table id="bgList">
            @foreach (PresetType tp in Enum.GetValues(typeof(PresetType))) {
            var items = Model.Where(x => x.BgType == (PresetType)tp);
                @if (items.Count()>0)   {
            
                <tr><td><div class="info">Backgrounds for <b>@tp.ToString()</b> timer:</div></td></tr>
                <tr><td>
                        @foreach (var item in items )
                        {
                            if (item.Locked)
                                @await Html.PartialAsync("BG-Default", item)
                            else
                                @await Html.PartialAsync("BG-Custom", item)

                        }
                </td></tr>
                } 
            }
    </table>
