@model mct_timer.Models.User

@{
    ViewData["Title"] = "Create your account";
}



<div id="gbmainbg">
    <div id="menu" class="menu">
        <img class="option" src="~/icons/home-w.png" title="back to home" onclick="javascript:location.href = '/'" />
    </div>
    <div id="loc" class="location">
        <a href="https://maps.app.goo.gl/tSMZLH5erYiWjrQg6" target="_blank"><img class="option" src="~/icons/location-w.png" title="image info" /></a>
    </div>
    <div id="location-info">
        Italy, Castle della Dragonara
    </div>

    <form id="newAccount" asp-action="Create">
         <div class="form" style="width:500px">
            <h1>@ViewData["Title"]</h1>
            <span class="info">
                To setup and save your settings please create your account or <a asp-controller="Account"
                                                                                 asp-action="login">login</a> with existed account.
            </span>
            
            
            <div id="error" class="error">@Html.Raw(TempData["Error"])</div>
            <div asp-validation-summary="ModelOnly" class="error">
                
            </div>
            

            <table cellpadding="5">
                <tr>
                    <td align="right"><label asp-for="Name" class="control-label"></label></td>
                    <td>:</td>
                    <td><input id="Name" asp-for="Name" class="form-control-text" /></td>
                </tr>
                <tr><td colspan="3"><span asp-validation-for="Name" class="text-danger"></span></td></tr>

                <tr>
                    <td align="right"><label asp-for="Email" class="control-label"></label></td>
                    <td>:</td>
                    <td><input id="Email" asp-for="Email" class="form-control-text" /></td>
                </tr>
                <tr><td colspan="3"><span asp-validation-for="Email" class="text-danger"></span></td></tr>

                <tr>
                    <td align="right"><label asp-for="Password" class="control-label"></label></td>
                    <td>:</td>
                    <td><input asp-for="Password" id="Password" class="form-control-text" /></td>
                </tr>
                <tr><td colspan="3"><span asp-validation-for="Password" class="text-danger"></span></td></tr>

            </table>
            <input asp-for="DefTZ" type="hidden" />

            <altcha-widget challengeurl="/Account/GetAltcha"></altcha-widget>
            <br />
            <div class="form-group">
                <input type="button" value="BACK" class="back" onclick="javascript:location.href = '/'" />
                <input type="button" value="Register" class="submit" onclick="javascript:checkpasswords(document.querySelector('#newAccount'))" />
            </div>
         </div>
    </form>
</div>


@section Scripts
{
    <script async defer src="/js/altcha.min.js" type="module"></script>

    <script>

        function menuUpdate() {
            outOfScrollPosition(document.querySelector("#gbmainbg"), document.querySelector("#menu"));
            outOfScrollPosition(document.querySelector("#gbmainbg"), document.querySelector("#loc"));
        }

        $(document).ready(function () {
            document.querySelector("#gbmainbg").style.backgroundImage = "url(/bg-lib/account.jpg)";
            menuUpdate();

            var tz = moment.tz.guess();
            if (!tz) {
                tz = "America/New_York";
            }
            document.getElementById("DefTZ").value = tz
        })

        $(window).resize(() => menuUpdate());

        function checkpasswords(formObj) {
                    var pass = document.querySelector("#Password").value;
                    var email = document.querySelector("#Email").value;
                    var name = document.querySelector("#Name").value;

                    if (!document.querySelector("#altcha_checkbox").checked) {
                        document.querySelector("#error").innerText = "Please complete captcha.";
                        return;
                    }
             

                    if (!email.length > 0) {
                        document.querySelector("#error").innerText = "Please provide your email";
                        return;
                    }
                    if (!pass.length > 0) {
                        document.querySelector("#error").innerText = "Please provide your password";
                        return;
                    }

                    if (!name.length > 0) {
                        document.querySelector("#error").innerText = "Pleas provide your name";
                        return;
                    }

                     if (checkpass(pass, document.querySelector("#error"))) {
                         formObj.submit();
                     }
                    else {
                         document.querySelector("#error").innerText = "Password must be 6 symbols long and contains capital, small letters and numbers.";
                    }
                    return;
                }
  
    </script>
}
