@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>Login</h1>
<h3>To setup and save your settings please create your account or login with existed account.</h3>


