@model mct_timer.Models.Login

@{
    ViewData["Title"] = "Login";
}


<div id="gbmainbg">
    <div id ="menu" class="menu">
        <img class="option" src="~/icons/home-w.png" title="back to home" onclick="javascript:location.href = '/'" />
    </div>
    <div id="loc" class="location">
        <a href="https://maps.app.goo.gl/tSMZLH5erYiWjrQg6" target="_blank"><img class="option" src="~/icons/location-w.png" title="image info" /></a>
    </div>
    <div id="location-info">
        Italy, Castle della Dragonara
    </div>

    <form asp-action="login">
    <div class="form" style="width:500px">
            <h1>@ViewData["Title"]</h1>
            <span class="info">
                To setup and save your settings please <a asp-controller="Account"
                                                          asp-action="Create">create your account</a> or login with existed account.
            </span>
            
            
            <div class="error">@TempData["Error"]</div>
            <div asp-validation-summary="ModelOnly" class="error">
                
            </div>
            <table cellpadding="5">
                <tr>
                    <td align="right"><label asp-for="email" class="control-label"></label></td>
                    <td>:</td>
                    <td><input asp-for="email" class="form-control-text" /></td>
                </tr>
                <tr><td colspan="3"><span asp-validation-for="email" class="text-danger"></span></td></tr>
                <tr>
                    <td align="right"><label asp-for="password" class="control-label"></label></td>
                    <td>:</td>
                    <td><input type="password" asp-for="password" class="form-control-text" /></td>
                </tr>
                <tr><td colspan="3"><span asp-validation-for="password" class="text-danger"></span></td></tr>

            </table>

            <altcha-widget challengeurl="/Account/GetAltcha"></altcha-widget>
            <br />

            <div class="form-group">
                <input type="button" value="BACK" class="back" onclick="javascript:location.href = '/'" />
                <input type="submit" value="LOGIN" class="submit" />
            </div>

    </div>
    </form>
</div>



@section Scripts
{
    <script async defer src="/js/altcha.min.js" type="module"></script>
    <script>


        function menuUpdate() {
            outOfScrollPosition(document.querySelector("#gbmainbg"), document.querySelector("#menu"));
            outOfScrollPosition(document.querySelector("#gbmainbg"), document.querySelector("#loc"));
        }

        $(document).ready(function () {
            document.querySelector("#gbmainbg").style.backgroundImage = "url(/bg-lib/account.jpg)";
            menuUpdate();
        })

        $(window).resize(() => menuUpdate());

    </script>
}

