#timer-mainbg {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100vh;
    background: url(../bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    overflow:hidden;
}

#editormain {
    background: white;
    padding: 10px;
    border-radius: 15px;
   
}

.ql-editor {
    font-size:18pt;
    resize: both;
    min-width: 400px;
    overflow-y: scroll;
    border-style: solid;
    border-width: 2px;
    border-color: blue;
    border: 1px solid gray;
}

#group {
    margin: 40px;
    
    overflow: visible;
    resize: both;
    display: flex;    
    position: static;
}


#group-tbl {  
    padding: 0px;   
    border-spacing : 0px;
    vertical-align: top;

}
    #group-tbl td {
        padding: 10px;
    }

.counter-warning {
    color : darkorange;
}

.counter-ending {
    color: red;
}

.counter-normal {
    color: black;
}
.infopad-td
{
    text-align: left;
    width: 100%;
}


.infopad {
    color: black;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    background: white;
    width: 200px;
    height: 200px;
    text-align: center;
    border: 3px solid darkgrey;
}

    .infopad .title {
        font: 600 20px Segoe UI;
        color: darkblue;
    }

    .infopad .numbers {
        font: 400 60px Segoe UI;
        color: black;
    }

    .infopad #zone {
        font: 500 36px Segoe UI;
        color: black;
    }
    .infopad #am {
        font: 300 24px Segoe UI;
        color: black;
    }

.timer__part {
    font-size: 36px;
    font-weight: bold;
}

.timer__btn {
    margin: 7px;
    padding: 0px;
    font-size: 10pt;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    color: white;
    background: #8208e6;
    cursor: pointer;
}
.material-icons {
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
}

.timer__btn--reset {
    background-color: green;

}

.timer__btn--home {
    background-color: purple;
}

