
#info-secondbg {
    padding: 3px 0px;
    margin: 50px;
    background-color: rgba(0,0,0,0.3);
    width: fit-content;
    border-radius: 10px;
}


#info-set {
    margin: 10px;
    resize: both;
    display: flex;
    position: static;
    width: fit-content;
}


.info-text {
    color: black;
    display: inline-block;
    margin: 7px 7px 7px 7px;
    padding: 7px 7px 7px 7px;
    border-radius: 10px;
    background-color: white;
    text-align: justify-all;
    border: 3px solid darkgray;
    
    overflow-y: scroll;
    height: 80vh;
}

    .info-text .title {
        font: 600 20px Segoe UI;
        color: darkblue;
    }

    .info-text h1 {
        font: 600 18px Segoe UI;
        color: black;
    }
    .info-text p {
        font: 400 15px Segoe UI;
        color: black;
    }
