
#preset-secondbg {
    padding: 7px;
    margin: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    width: fit-content;
    border-radius: 10px;
}



/*.defaults {
    margin: 10px;
    overflow: visible;
    resize: both;
    display: flex;
    position: static;
    width: fit-content;
}*/

.custom-timer {
    color: black;
    margin: 7px 7px 7px 7px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    background: white;
    width: 270px;
    border: 3px solid darkgray;
    position: relative
}

.custom-timer .adds-group {
    margin-top: 10px;
}

.custom-timer .adds {
    color: white;
    margin-right: 5px;
    background-color: purple;
    border-radius: 10px;
    padding: 5px;
    width: 100px;
    height: 40px;
    justify-content: center;
    font: 600 14px Segoe UI;
    cursor: pointer;
}

.custom-timer #ampm {
    padding: 7px 7px 7px 7px;
    margin-left: 5px;
    border-radius: 7px;
    text-align: center;
    font: 600 24px Segoe UI;
    border: 2px solid black;
    background-color: whitesmoke;
}


#timezone {
    padding: 2px;
    border-radius: 4px;
    text-align: left;
    font: 500 17px Segoe UI;
    border: 2px solid black;
    background-color: whitesmoke;
}


.custom-timer .timer-go-set {
    display: inline-flex;
    justify-content: center;
}

.custom-timer .title {
    font: 600 24px Segoe UI;
    text-align: left;
    color: darkblue;
    margin-bottom: 7px;
}

.custom-timer .button {
    color: white;
    background: green;
    border-radius: 15px;
    padding: 5px;
    margin-left: 5px;
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
}

.custom-timer #custom-input {
    padding: 7px 7px 7px 7px;
    margin: 0px;
    border-radius: 7px;
    text-align: center;
    width: 110px;
    font: 600 24px Segoe UI;
    border: 2px solid black;
    background-color: whitesmoke;
}


.timer-choice {
    color: black;
    display: inline-block;
    padding: 7px 7px 7px 7px;
    border-radius: 10px;
    background-color: white;
    width: 127px;
    height: 127px;
    text-align: center;
    border: 3px solid darkgray;
    cursor: pointer;
}

.timer-choice .title {
    font: 600 20px Segoe UI;
    color: darkblue;
}

.timer-choice .title img {
    width: 60px;
}

.timer-choice .numbers {
    font: 400 30px Segoe UI;
    color: black;
}
