
#preset-secondbg {
    padding: 7px;
    margin: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    width: fit-content;
    border-radius: 10px;
}

.timer-defaults {
    color: black;
    margin: 7px 7px 7px 7px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    background: white;
    width: stretch;
    border: 3px solid darkgray;
    position: relative
}

    .timer-defaults .title {
        font: 600 24px Segoe UI;
        text-align: left;
        color: darkblue;
        margin-bottom: 7px;
    }    .timer-defaults #timezone {
        border-radius: 7px;
        text-align: left;
        font: 600 18px Segoe UI;
        border: 2px solid black;
        background-color: whitesmoke;
        width: stretch;
        white-space: nowrap;
    }
    
    /* Match ampm font styling for Select2 */
    .timer-defaults .select2-container--default .select2-selection--single {
        font: 600 18px Segoe UI !important;
        padding: 0px 7px;
        border-radius: 7px;
        background-color: whitesmoke;
        border: 2px solid black !important;
        height: 34px;
    }
    
    .timer-defaults .select2-container--default .select2-selection--single .select2-selection__rendered {
        padding: 0px 0;
        color: black;
    }
      .select2-container--default .select2-results__option {
        font: 600 18px Segoe UI;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .select2-container--default .select2-selection--single {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #timezone.select2-hidden-accessible + .select2-container--default .select2-selection--single {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /* Select2 dropdown menu */
    .select2-container--default .select2-dropdown {
        min-width: 100%;
    }

    .select2-container--default .select2-results {
        max-height: 300px;
    }
    /*.defaults {
    margin: 10px;
    overflow: visible;
    resize: both;
    display: flex;
    position: static;
    width: fit-content;
}*/
.custom-timer {
    color: black;
    margin: 7px 7px 7px 7px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    background: white;
    width: 410px;
    border: 3px solid darkgray;
    position: relative
}
    .custom-timer .type-icons {
        width: 40px;
        padding: 3px;
        margin:3px;
        background-color: white;
        cursor: pointer;
        border: none;
    }

    .custom-timer .adds-group {
        margin-top: 10px;
    }

.custom-timer .adds-buttons {
    color: white;
    margin-right: 5px;
    background-color: purple;
    border-radius: 10px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top:5px;
    padding-bottom:5px;
    width: 120px;
    height: 40px;
    justify-content: center;
    font: 600 15px Segoe UI;
    cursor: pointer;
}

.custom-timer #ampm {
    padding: 7px 7px 7px 7px;
    margin-left: 5px;
    border-radius: 7px;
    text-align: center;
    font: 600 24px Segoe UI;
    border: 2px solid black;
    width:100px;
    background-color: whitesmoke;
}


.custom-timer .timer-go-set {
    display: inline-flex ;
    justify-content: left;
    width:100%
}

.custom-timer .title {
    font: 600 24px Segoe UI;
    text-align: left;
    color: darkblue;
    margin-bottom: 7px;
}

.custom-timer .button {
    color: white;
    background: green;
    border-radius: 15px;
    padding: 5px;
    margin-left: 5px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    font-size: 18pt;
    vertical-align: middle;  
    cursor: pointer;
}

.custom-timer #custom-input {
    padding: 7px 7px 7px 7px;
    margin: 0px;
    border-radius: 7px;
    text-align: center;
    width: 110px;
    font: 600 24px Segoe UI;
    border: 2px solid black;
    background-color: whitesmoke;
}


.timer-choice {
    color: black;
    display: inline-block;
    padding: 7px 7px 7px 7px;
    border-radius: 10px;
    background-color: white;
    width: 127px;
    height: 127px;
    text-align: center;
    border: 3px solid darkgray;
    cursor: pointer;
}

.timer-choice .title {
    font: 600 20px Segoe UI;
    color: darkblue;
}

.timer-choice .title img {
    width: 60px;
}

.timer-choice .numbers {
    font: 400 30px Segoe UI;
    color: black;
}
